<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow-effect bg-secondary-theme">
                <div class="card-body">

                    <div class="text-center">
                        <h3 class="text-theme-primary"> Login </h3>
                        <p> Plese Login to your admin account to post a new blog post </p>
                    </div>

                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">

                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Email" email name="email"
                                #Email="ngModel" ngModel required
                                [ngClass]="{'is-invalid' : Email.touched && Email.invalid}">
                            <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">

                                <div *ngIf="Email.errors?.required">Email can not be empty.</div>
                                <div *ngIf="Email.errors?.email">Please enter valid Email Address.</div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                minlength="8" #Password="ngModel" ngModel required
                                [ngClass]="{'is-invalid' : Password.touched && Password.invalid}">
                            <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">

                                <div *ngIf="Password.errors?.required">Password can not be empty.</div>
                                <div *ngIf="Password.errors?.minlength">More should be greater than 8 digit.</div>

                            </div>
                        </div>
                        <button class="btn btn-info btn-block btn-theme w-100" [disabled]="loginForm.invalid"> Login
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>